#wrapper {
    width: 900px;
    height: 500px;
    margin: 5px auto;
    outline: 1px solid black;
}
#header {
    height: 200px;
    outline: 1px solid black;
    position: relative;   
} 
#logo img {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#header h1 {
    position: absolute;
    top: 50px;
    left: 250px;  
}

#left {
    width: 200px;
    float:left;
    height: 500px;
    padding: 10px; 
} 
#left p {
    font-size: 12px;
    text-align: justify;
}
  
#content {
    height: 500px;
    width: 650px;
    float: left;    
}

#content p {
    font-size: 16px;
    text-align: justify;
    padding: 10px;
} 

